build
dist
VERSION
dist.zip
ota_bin
c_cpp_properties.json
launch.json
*.exe
*.exe.dSYM/
install/
mac.zip
linux.zip
log/
**/logs/*.log
linux/**/*.o
*.o

python/revo2/revo2_quick_comm_test.py
bc_stark_sdk.dll
kerneldlls/
windows/dll/zlgcan.dll
cp-to-sdk.sh
python/revo1/revo1_basic_collector.py
python/revo1/revo1_comm_frequency_test.py
python/revo1/revo1_dfu.py
python/revo1/revo1_quick_comm_test.py
python/revo1/revo1_touch_collector.py
python/revo2/revo2_basic_collector.py
python/revo2/revo2_dfu.py
python/revo2_canfd/zlg_canfd_dfu.py