build
dist
VERSION
dist.zip
ota_bin
c_cpp_properties.json
launch.json
*.exe
*.exe.dSYM/
install/
mac.zip
linux.zip
log/
**/logs/*.log
linux/**/*.o
python/revo2/revo2_quick_comm_test.py
bc_stark_sdk.dll
kerneldlls/
windows/dll/zlgcan.dll
